<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Pwc_ProductInquiry::CustProdInq" title="CustProdInq" sortOrder="10">
					<resource id="Pwc_ProductInquiry::CustProdInq_save" title="Save CustProdInq" sortOrder="10"/>
					<resource id="Pwc_ProductInquiry::CustProdInq_delete" title="Delete CustProdInq" sortOrder="20"/>
					<resource id="Pwc_ProductInquiry::CustProdInq_update" title="Update CustProdInq" sortOrder="30"/>
					<resource id="Pwc_ProductInquiry::CustProdInq_view" title="View CustProdInq" sortOrder="40"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Pwc_ProductInquiry::config_pwc_productinquiry" title="product_inquiry_form"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
