<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Pwc::top_level" title="Pwc" module="Pwc_ProductInquiry" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Pwc_ProductInquiry::pwc_productinquiry_custprodinq" title="Customer Product Inquire" module="Pwc_ProductInquiry" sortOrder="9999" resource="Magento_Backend::content" parent="Pwc::top_level" action="pwc_productinquiry/custprodinq/index"/>
	</menu>
</config>
